<html lang="en">

<head>
    <title>Food?</title>
</head>

<body>
    <h1>Please put data below this</h1>

    <h2>There are {{calories}} calories in {{weight}} grams of {{food_label}}.</h2>
    <li>parser_data</li>
    <li>{{food_label_array}}</li>

    <div>
    {% block content %}

        {% for labels in food_label_array %}
        <li><a href = "/searchFood/returnedFood/foodMeasures?clickedFood={{labels}}">{{labels}}</a></li>
        {% endfor %}




    {% endblock %}
    </div>

</body>

</html>