<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/styles.css')}}" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script type = "text/javascript" src="/JS/script.js"></script>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Columbus State University</title>
    </head>

    <body>
        <div class="red-box">
        <h1> Columbus State University Nutrition </h1>
        <img src="/templates/CSU_Logo_Primary1.png">
      </div>

        <div class="flip-card" id="myFlipCard">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/templates/user.png" alt="Avatar" style="width:200px;height:200px;">
            </div>
            <div class="flip-card-back">
              <h1>Placeholder</h1> 
              <p>Placeholder</p> 
              <p>placeholder</p>
            </div>
          </div>
        </div>

<!-- second card will go here-->

       <!---- <div class="flip-card-2" id="myFlipCard(2)">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="user.png" alt="Avatar" style="width:200px;height:200px;">
            </div>
            <div class="flip-card-back">
              <h1>Placeholder</h1> 
              <p>Placeholder</p> 
              <p>placeholder</p>
            </div>
          </div>
        </div> -->


       
        
    </body>
</html>
