body{
    margin: 0;
    background-color: rgb(17, 48, 83);
}

.red-box{
    background-color:crimson;
    width: 100%;
    height: 90px;
    position: relative;
    text-align: left;
}

.red-box h1{
    margin: 0;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     
}

.red-box img{

    max-width: 80%;
    max-height: 80%;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;


}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /*  3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card.flip .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* Styling the front side */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Styling the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

/*.flip-card-2{
  margin: 0 auto;
} */